{% extends 'formbase.html.twig' %}

{% block title %}Sign In - Proyek{% endblock %}

{% block body %}
<form method="post">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>

<!-- Sign In -->

<section class="w3-content" style="max-width: 500px; margin-top: 150px;">
    <div class="w3-card w3-white" style="padding-top: 20px;">
        <h3 class="w3-center">Sign In</h3>

        {% if error %}
            <div class="w3-center w3-text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="POST" class="w3-text-theme w3-padding-large">
            <div class="input-group w3-margin">
                <label class="input-group-addon">
                    <i class="fas fa-user w3-text-theme air-icon-user"></i>
                </label>
                <input value="{{ last_username }}" class="form-control" name="email" type="text" placeholder="Email Id" required autofocus>
            </div>
            <div class="input-group w3-margin">
                <label class="input-group-addon">
                    <i class="fas fa-lock w3-text-theme air-icon-user"></i>
                </label>
                <input class="form-control" name="password" type="password" placeholder="Password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="w3-margin w3-center">
                <button type="submit" class="w3-btn w3-section w3-theme w3-ripple">Sign In</button>
            </div>
        </form>
        <div class="w3-theme-light w3-padding-32 w3-center" style="border-top: 1px solid #E0E0E0;">
            <p>--------New to Proyek?--------</p>
            <a href="register" class="w3-btn w3-section w3-theme w3-ripple">Sign Up</a>
        </div>
    </div>
    
</section>

<!-- End Sign In -->

{% endblock %}
