{% extends 'homebase.html.twig' %}

{% block title %}Home - Proyek{% endblock %}

{% block body %}

<section class="w3-content" style="max-width: 1140px; padding-top: 140px;">
	
				

			
	
</section>



{% endblock %}
