{% extends 'formbase.html.twig' %}

{% block title %}Sign Up - Proyek{% endblock %}

{% block body %}

<!-- Sign Up -->

<section class="w3-content" style="max-width: 500px; margin-top: 150px;">
	<div class="w3-card w3-white" style="padding-top: 20px;">
		<h3 class="w3-center">Sign Up</h3>

		<form method="POST" name="registration_form" class="w3-text-theme w3-padding-large">

			<div class="input-group w3-margin">
				<label class="input-group-addon">
					<i class="fas fa-user w3-text-theme air-icon-user"></i>
				</label>
				<input class="form-control" id="registration_form_email" name="registration_form[email]" type="text" placeholder="Email Id" required>
			</div>
			<div class="input-group w3-margin">
				<label class="input-group-addon">
					<i class="fas fa-phone w3-text-theme air-icon-user"></i>
				</label>
				<input class="form-control" id="registration_form_phone" name="registration_form[phone]" type="text" placeholder="Phone Number" required>
			</div>
			<div class="input-group w3-margin">
				<label class="input-group-addon">
					<i class="fas fa-lock w3-text-theme air-icon-user"></i>
				</label>
				<input class="form-control" id="registration_form_plainPassword" name="registration_form[plainPassword]" type="password" placeholder="Password" required>
			</div>
			<div class="w3-margin w3-center">
				<button type="submit" name="signup" class="w3-btn w3-section w3-theme w3-ripple">Sign Up</button>
			</div>

			<input type="hidden" id="registration_form__token" name="registration_form[_token]" value="{{ registrationForm._token.vars.value }}"/>

		</form>
		<div class="w3-theme-light w3-padding-32 w3-center" style="border-top: 1px solid #E0E0E0;">
			<p>--------Already have an account?--------</p>
			<a href="login" class="w3-btn w3-section w3-theme w3-ripple">Sign In</a>
		</div>
	</div>
	
</section>

<!-- End Sign Up -->

{% endblock %}
