html {
  min-height: 100%;
  position: relative;
}

body {
    margin-bottom: 167px;
}

div.rt-btn a{
  display: none;
}

div.rt-btn:hover a{
  display: block;
}

.rt-back {
	background-color: #F5F5F5;
	background-image: url('../images/home-bg.jpg');
	background-repeat: no-repeat;
}

.rt-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 167px;
}

.rt-feature {
	background-color: #F5F5F5;
}

.rt-padding {
	padding: 12px;
}

.rt-section {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.rt-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:576px) {
  .rt-container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .rt-container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .rt-container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .rt-container {
    max-width: 1140px;
  }
}

.input-group {
    position: relative;
    display: inherit;
}

.input-group .input-group-addon, .input-group .input-group-btn {
    height: 40px;
    line-height: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 0;
    z-index: 5;
    width: auto;
    color: #656565;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .input-group-addon+input, .input-group .input-group-btn+input {
    padding-left: 36px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
}
input.form-control, textarea.form-control, .select2-search input {
    display: block;
    width: 100%;
    min-height: 40px;
    height: 40px;
    padding: 10px 19px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #222;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    font-size: 13px;
    line-height: 18px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.input-group .input-group-addon>.fas, .input-group .input-group-btn>.fas {
    padding-top: 13px;
}
.input-group .input-group-addon .fas, .input-group .input-group-btn .fas {
    margin: 0 14px;
}
.fas {
    position: relative;
    top: 0;
    display: inline-block;
}
.fas, [class^="air-icon-"], [class*=" air-icon-"] {
    font-family: 'Air icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"]:focus{
border:1px solid #8bc34a;
outline: none;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

input[type="text"]:hover{
border: 1px solid #8bc34a;
outline: none;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

input[type="text"]:focus:hover{
border:1px solid #8bc34a;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

input[type="password"]:focus{
border:1px solid #8bc34a;
outline: none;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

input[type="password"]:hover{
border: 1px solid #8bc34a;
outline: none;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

input[type="password"]:focus:hover{
border:1px solid #8bc34a;

-webkit-box-shadow:inset 0 0 2px #8bc34a;
       -moz-box-shadow:inset 0 0 2px #8bc34a;
            box-shadow:inset 0 0 2px #8bc34a;

    background: transparent;
}

/* Input Value Slider */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* Responsive YouTube Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
  
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}