{% extends 'base.html.twig' %}

{% block title %}Proyek{% endblock %}

{% block body %}

<!-- Slide Show -->
<section class="rt-back">
	<div class="w3-display-container" style="height: 500px;">
  		
  		<div class="w3-display-middle w3-text-white">
    		<h1><b>Join Proyek.<br>Get job done.</b></h1>
    		<a href="login" class="w3-btn w3-round w3-theme-d3 w3-hover-theme">Get Started</a>
  		</div>

	</div>
</section>

<!-- End Slide Show -->

<!-- Client -->

<section class="w3-theme-dark">
	<div style="height: 120px;">
		
	</div>
</section>

<!-- End Client -->

<!-- Feature -->

<section class="w3-theme-l5">
<div class="rt-container w3-row">
	<div class="w3-col m4">
		<div class="w3-panel w3-theme-l5 w3-leftbar w3-border-theme">
			<h2>Placement</h2>
  			<p>Get placed in various domains</p>
		</div>
	</div>
	<div class="w3-col m4">
		<div class="w3-panel w3-theme-l5 w3-leftbar w3-rightbar w3-border-theme">
			<h2>Freelance Jobs</h2>
  			<p>Get project work as freelancer</p>
		</div>
	</div>
	<div class="w3-col m4">
		<div class="w3-panel w3-theme-l5 w3-rightbar w3-border-theme">
			<h2>Projects & contract work</h2>
  			<p>Get work done with a dedicated team</p>
		</div>
	</div>
</div>
</section>

<!-- End Feature -->

<!-- Technologies -->

<section class="rt-section rt-container w3-row w3-center">
	<h1><b>Get job or, Post job</b></h1>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-laptop-code fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Web Developers</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Front-end Developers</p>
      			<p>Back-end Developers</p>
      			<p>Full-stack Developers</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-tablet-alt fa-5x w3-text-theme" style="margin-right: 70px;"></i>
			<h5 class="w3-text-theme">Mobile Developers</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Android Developers</p>
      			<p>iOS Developers</p>
      			<p>UI/UX Developers</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-globe fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Internet of Things</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Google IoT</p>
      			<p>AWS IoT</p>
      			<p>Raspberry PI</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-cubes fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Machine Learnings</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>TensorFlow</p>
      			<p>Deep Learning</p>
      			<p>Neural Network</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-cloud fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Cloud Computing</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Google Cloud Platform</p>
      			<p>Amazon Web Service</p>
      			<p>Microsoft Azure</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-chart-line fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Sales & Marketing Experts</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>SEO Marketing</p>
      			<p>Digital Marketing</p>
      			<p>Email Automation</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-pen-nib fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Writers</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Blog Content</p>
      			<p>Web Content</p>
      			<p>Business Writers</p>
    		</div>
		</div>
	</div>
	<div class="w3-col m3 rt-padding">
		<div class="w3-card w3-padding-32 w3-display-container w3-hover-theme">
			<i class="fas fa-pencil-ruler fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5 class="w3-text-theme">Designers</h5>
			<div class="w3-display-middle w3-display-hover" style="font-size: 11px;">
      			<p>Graphic Designers</p>
      			<p>Motion Graphics</p>
      			<p>UI/UX Designers</p>
    		</div>
		</div>
	</div>
</section>

<!-- End Technologies -->

<!-- Working Process -->

<section class="rt-section w3-theme-l5 w3-center">
	<h1><b>How it works</b></h1>
	<div class="rt-container w3-row w3-center">
		<div class="w3-col m3 rt-padding">
			<i class="fas fa-edit fa-5x w3-text-theme" style="margin-right: 70px;"></i>
			<h5><b>Register yourself (it’s free)</b></h5>
			<p>Tell us about yourself. Proyek connects you with top recruiters near you.</p>
		</div>
		<div class="w3-col m3 rt-padding">
			<i class="fas fa-laptop fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5><b>Recruiters come to you</b></h5>
			<p>Make professional profile and get interview calls.</p>
		</div>
		<div class="w3-col m3 rt-padding">
			<i class="fas fa-comment-alt fa-5x w3-text-theme" style="margin-right: 70px;"></i>
			<h5><b>Post jobs/projects</b></h5>
			<p>Tell us about your project. Proyek connects you with top talent near you.</p>
		</div>
		<div class="w3-col m3 rt-padding">
			<i class="fas fa-money-check fa-5x w3-text-theme" style="margin-right: 80px;"></i>
			<h5><b>Payment simplified</b></h5>
			<p>Pay hourly or fixed-price to freelancer and get work done.</p>
		</div>
	</div>
</section>

<!-- End Working Process -->

<!-- Offering -->

<section class="rt-section">
	<header class="w3-center">
		<h1><b>Choose the offering</b></h1>
	</header>
	
	<div class="rt-container w3-row">
		<div class="w3-col m3 rt-padding">
			<div class="w3-card">
				<header class="w3-container w3-theme-l1 w3-center">
  					<h3><b>Basic</b></h3>
				</header>
				
				<div class="w3-padding-16">
					<ul class="w3-ul">
  						<li><i class="fas fa-check w3-text-theme"></i> Verified freelancer work history and reviews</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Unlimited proposals from freelancers</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Built-in collaboration tools and easy payments</li>
					</ul>
				</div>
				<hr>
				<div class="w3-section w3-center" style="height: 125px;">
					<a href="" class="w3-btn w3-round w3-theme-l1 w3-hover-theme">Select Basic</a>
					<h5><b>Free</b></h5>
				</div>
			</div>
		</div>

		<div class="w3-col m3 rt-padding">
			<div class="w3-card">
				<header class="w3-container w3-theme-l1 w3-center">
  					<h3><b>Plus</b></h3>
				</header>
				
				<div class="w3-padding-16">
					<ul class="w3-ul">
  						<li><i class="fas fa-check w3-text-theme"></i> Verified freelancer work history and reviews</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Unlimited proposals from freelancers</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Built-in collaboration tools and easy payments</li>
					</ul>
				</div>
				<hr>
				<div class="w3-section w3-center" style="height: 125px;">
					<a href="" class="w3-btn w3-round w3-theme-l1 w3-hover-theme">Select Plus</a>
					<h5><b><i class="fas fa-rupee-sign"></i>99</b>/month</h5>
				</div>
			</div>
		</div>

		<div class="w3-col m3 rt-padding">
			<div class="w3-card">
				<header class="w3-container w3-theme-l1 w3-center">
  					<h3><b>Business</b></h3>
				</header>
				
				<div class="w3-padding-16">
					<ul class="w3-ul">
  						<li><i class="fas fa-check w3-text-theme"></i> Verified freelancer work history and reviews</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Unlimited proposals from freelancers</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Built-in collaboration tools and easy payments</li>
					</ul>
				</div>
				<hr>
				<div class="w3-section w3-center" style="height: 125px;">
					<a href="" class="w3-btn w3-round w3-theme-l1 w3-hover-theme">Select Business</a>
					<h5><b><i class="fas fa-rupee-sign"></i>499</b>/month</h5>
				</div>
			</div>
		</div>

		<div class="w3-col m3 rt-padding">
			<div class="w3-card">
				<header class="w3-container w3-theme-l1 w3-center">
  					<h3><b>Enterprise</b></h3>
				</header>
				
				<div class="w3-padding-16">
					<ul class="w3-ul">
  						<li><i class="fas fa-check w3-text-theme"></i> Verified freelancer work history and reviews</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Unlimited proposals from freelancers</li>
  						<li><i class="fas fa-check w3-text-theme"></i> Built-in collaboration tools and easy payments</li>
					</ul>
				</div>
				<hr>
				<div class="w3-section w3-center" style="height: 125px;">
					<a href="" class="w3-btn w3-round w3-theme-l1 w3-hover-theme">Select Enterprise</a>
					<h5><b>Price varies -</b> contact us for a demo</h5>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- End Offering -->

{% endblock %}
