<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}Proyek{% endblock %}</title>

        <meta charset="UTF-8">

        <meta name="description" content="Training, Placement, Redtron, Robotics, Artificial Intelligence, Web Application development, Cloud-based Solution Development, Android App Development">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="icon" href="{{ asset('images/fav.ico') }}" type="image/ico" sizes="48x48">

        {% block stylesheets %}
        	
        	<link href="{{ asset('css/w3.css') }}" rel="stylesheet"/>

            {% set value = random(6) %}
            {% if value == 1 %}
        	<link href="{{ asset('css/w3-theme-cyan.css') }}" rel="stylesheet"/>
            {% elseif value == 2 %}
            <link href="{{ asset('css/w3-theme-deep-orange.css') }}" rel="stylesheet"/>
            {% elseif value == 3 %}
            <link href="{{ asset('css/w3-theme-light-green.css') }}" rel="stylesheet"/>
            {% elseif value == 4 %}
            <link href="{{ asset('css/w3-theme-deep-purple.css') }}" rel="stylesheet"/>
            {% elseif value == 5 %}
            <link href="{{ asset('css/w3-theme-red.css') }}" rel="stylesheet"/>
            {% else %}
            <link href="{{ asset('css/w3-theme-teal.css') }}" rel="stylesheet"/>
            {% endif %}

            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body class="w3-theme-light">

<!-- Header -->
<!-- Navigation Bar -->
<header>
	<div class="w3-bar w3-white w3-large w3-container w3-top w3-card">
		<a href="/" class="w3-bar-item w3-button">
			<img src="{{ asset('images/logo.png') }}" class="w3-image" style="max-width: 218px;">
		</a>
		<a href="{{ path('app_register') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Sign Up</a>
        <a href="{{ path('app_login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Sign In</a>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-padding-32 w3-text-theme" onclick="myFunction()">&#9776;</a>
	</div>

	<div id="demo" class="w3-bar-block w3-theme w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top: 91px;">
  		<a href="{{ path('app_login') }}" class="w3-bar-item w3-button">Sign In</a>
        <a href="{{ path('app_register') }}" class="w3-bar-item w3-button">Sign Up</a>
	</div>
</header>
<!-- End Navigation Bar-->
<!-- End Header -->
    	
        {% block body %}{% endblock %}

<!-- Footer -->

<footer class="rt-footer w3-container w3-center w3-theme-dark w3-bottom">
  	<h5>Find Us On</h5>
  	<div class="w3-xlarge w3-padding-16">
    	<i class="fab fa-facebook w3-hover-opacity"></i>
    	<i class="fab fa-instagram w3-hover-opacity"></i>
    	<i class="fab fa-snapchat w3-hover-opacity"></i>
    	<i class="fab fa-pinterest-p w3-hover-opacity"></i>
    	<i class="fab fa-twitter w3-hover-opacity"></i>
    	<i class="fab fa-linkedin w3-hover-opacity"></i>
  	</div>
  	<p>Powered by <a href="https://redtron.org" target="_blank" class="w3-hover-text-green">RedTron</a></p>
</footer>

<!-- End Footer -->

        {% block javascripts %}
        	<script>
				function myFunction() {
    				var x = document.getElementById("demo");
    				if (x.className.indexOf("w3-show") == -1) {
        				x.className += " w3-show";
    				} else { 
        				x.className = x.className.replace(" w3-show", "");
    				}
				}
			</script>
        {% endblock %}
    </body>
</html>
