<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}Proyek{% endblock %}</title>

        <meta charset="UTF-8">

        <meta name="description" content="Training, Placement, Redtron, Robotics, Artificial Intelligence, Web Application development, Cloud-based Solution Development, Android App Development">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="icon" href="{{ asset('images/fav.ico') }}" type="image/ico" sizes="48x48">

        {% block stylesheets %}
        	
        	<link href="{{ asset('css/w3.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/w3-theme-cyan.css') }}" rel="stylesheet"/>
            

            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body class="w3-white">

<!-- Header -->
<!-- Navigation Bar -->
<header class="w3-top">
	<div class="w3-bar w3-white w3-large w3-container w3-card">
		<a href="{{ path('index') }}" class="w3-bar-item w3-button">
			<img src="{{ asset('images/logo.png') }}" class="w3-image" style="max-width: 100px;">
		</a>

        <div class="w3-dropdown-hover w3-hide-small w3-right">
            <button class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-32 w3-hover-theme" title="My Account">
                <img src="{{ asset('images/img_avatar.png') }}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
            </button>   
            <div class="w3-dropdown-content w3-theme-light w3-card-4 w3-bar-block w3-padding w3-margin-right" style="margin-top: 91px;">
                <h3>{{ app.user.username }}</h3>
                <a href="{{ path('home') }}" class="w3-bar-item w3-button"><i class="fas fa-user"></i> Profile</a>
                <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>

        <a href="home/papertrade" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Papertrade</a>
        <a href="/autotrade" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Autotrade</a>
        <a href="/traderoom" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Traderoom</a>
        <a href="/journal" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Journal</a>
        <a href="home/library" class="w3-bar-item w3-button w3-hide-small w3-padding-32 w3-right">Library</a>

		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-padding-32 w3-text-theme" onclick="myFunction()">&#9776;</a>
        
        
	</div>
</header>
	<div id="demo" class="w3-bar-block w3-theme w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top: 91px;">
        <span class="w3-bar-item w3-button w3-right w3-padding-16">{{ app.user.username }}</h3>
        <button class="w3-bar-item w3-button w3-right w3-padding-16" title="My Account">
            <img src="{{ asset('images/img_avatar.png') }}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </button>
	</div>

<!-- End Navigation Bar-->
<!-- End Header -->
    	
        {% block body %}{% endblock %}



        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
        	<script>
				function myFunction() {
    				var x = document.getElementById("demo");
    				if (x.className.indexOf("w3-show") == -1) {
        				x.className += " w3-show";
    				} else { 
        				x.className = x.className.replace(" w3-show", "");
    				}
				}
			</script>
        {% endblock %}
    </body>
</html>
