{% extends 'homebase.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<section class="rt-container rt-section w3-row" style="margin-top: 100px;">
	<h1 class="w3-center"><b>Modules are</b></h1>
	<div class="w3-col m4 rt-padding">
		<div class="w3-card w3-white" style="height: 500px; position: relative;">
			<div class="w3-display-container">
				<img src="images/home-bg.jpg" class="w3-image">
				<div class="w3-display-topmiddle w3-theme w3-padding w3-center" style="width: 100%;">
					<h3>Freelancer</h3>
				</div>
			</div>
			
			<div class="w3-center w3-padding-16" style="border-top: 1px solid #E0E0E0; position: absolute; bottom: 0px; width: 100%;">
				<form action="/upload_excel" method="post" enctype="multipart/form-data" class="w3-padding w3-row">
					<div class="w3-col w3-right" style="width:100px;">
						<button type="submit" class="w3-btn w3-theme w3-right" value="upload" style="height=46px;"><i class="fas fa-upload w3-large"></i></button>
					</div>
					<div class="w3-rest">
						<input type="file" id="file" name="file" class="w3-input w3-border" />
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	<div class="w3-col m4 rt-padding">
		<div class="w3-card w3-white" style="height: 500px; position: relative;">
			<div class="w3-display-container">
				<img src="images/home-bg.jpg" class="w3-image">
				<div class="w3-display-topmiddle w3-theme w3-padding w3-center" style="width: 100%;">
					<h3>Student</h3>
				</div>
			</div>
			<div class="w3-padding-16">
				
			</div>
			<div class="w3-center w3-padding-16" style="border-top: 1px solid #E0E0E0; position: absolute; bottom: 0px; width: 100%;">
				<a href="#" class="w3-btn w3-theme">Create</a>
			</div>
		</div>
	</div>
	<div class="w3-col m4 rt-padding">
		<div class="w3-card w3-white" style="height: 500px; position: relative;">
			<div class="w3-display-container">
				<img src="images/home-bg.jpg" class="w3-image">
				<div class="w3-display-topmiddle w3-theme w3-padding w3-center" style="width: 100%;">
					<h3>Organization</h3>
				</div>
			</div>
			<div class="w3-padding-16">
				
			</div>
			<div class="w3-center w3-padding-16" style="border-top: 1px solid #E0E0E0; position: absolute; bottom: 0px; width: 100%;">
				<a href="#" class="w3-btn w3-theme">Create</a>
			</div>
		</div>
	</div>
</section>



{% endblock %}
